body {
	margin: 0;
	background-image: url("/assets/img/background.jpg");
	background-size: cover;
}

.nav-container{
	position:fixed;
	width: 10%;
	height: 100%;
	top: 0;
	left: 0;
}

nav {
	opacity: .88;
	background: #111;
	position:fixed;
	width: 10%;
	height: 100%;
	top: 0;
	left: 0;
	transform: translateX(-100%);
	transition: transform .5s cubic-bezier(.4,0,.2,1);
}


.nav-container:hover nav{
	transform: translateX(0);
	transition: transform .5s cubic-bezier(.4,0,.2,1);
}

nav img {
	width: 50px;
}


main {
	position: relative;
	width: 100%;
	height: 100%;

}

.page {
	top: 3cm;
	left: 7cm;
	padding: 1cm;
	position: absolute;
	background: 100% url("/assets/img/page.png");
	margin: 2.5cm;
	width: 19cm;
	height: 25cm;
	position: relative;
}